:root {
  --bg-color: #030607;
  --sub-bg-color: rgba(255, 255, 255, 0.04);

  --primary: #1e88e5;
  --primary-bg: rgba(30, 136, 229, 0.08);
  --primary-bg-hover: rgba(30, 136, 229, 0.2);

  --secondary: #d81b60;
  --secondary-bg: rgba(216, 27, 96, 0.08);
  --secondary-bg-hover: rgba(216, 27, 96, 0.2);

  --text: rgba(231, 228, 229);
  --sub-text: rgba(231, 228, 229, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

html {
  font-family: 'Roboto Slab';
  background-color: var(--bg-color);
}

.main-section {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin: auto;
}

.main-section .title {
  text-align: center;
  font-size: 4rem;
  margin: 4rem 0 0 0;
}

.main-section .sub-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 4rem 0;
  color: var(--sub-text);
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.news-card {
  display: flex;
  flex-direction: column;
  background-color: var(--sub-bg-color);
  border-radius: .6rem;
  padding: 1.2rem;

  gap: .6rem;
}

.news-card .description {
  color: var(--sub-text);
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif
}

.news-card .info p {
  color: var(--sub-text);
}


.news-card .buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-card a {
  color: var(--primary);
  background-color: var(--primary-bg);
}

.news-card a:hover {
  background-color: var(--primary-bg-hover);
}

.news-card .save-button {
  color: var(--secondary);
  background-color: var(--secondary-bg);
}

.news-card .save-button:hover {
  background-color: var(--secondary-bg-hover);
}

.news-card .save-button svg {
  fill: var(--secondary);
}

.news-card a,
.news-card .save-button {
  border: none;
  padding: .6rem;
  border-radius: .6rem;

  font-weight: bold;
}